/* body{
    background-color: black;
}

div{
    width: 50%;
    margin: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
img{
    border: solid white;
    border-width: 5px;
} */


body{
    background-color: #dfdddd;
}

.poster{
    font-family: "Anton SC", sans-serif;
    font-size: 20px;
    color: #388b8c;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.main-img{
    border: solid #388b8c;
    border-width: 10px;
}

.text-paragraph{
    font-family: "Libre Baskerville", serif;
    font-size: 1.5em;
    color: grey;
}